<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="( ${productPageRequest.keyword} ? '검색결과'
        : ( ${category} ? ${category.name}
        : ( ${manufacturer} ? ${manufacturer.name}
        : '전체상품' )))">List</title>
</head>
<body>
<!--/* Breadcrumb */-->
<ul layout:fragment="breadcrumb"
    th:with="urlBuilder=${T(org.springframework.web.util.UriComponentsBuilder).fromPath('/product/list')}">
    <li><a th:href="@{/}">홈</a></li>
    <li>
        <span th:unless="${manufacturer} or ${category} or ${productPageRequest.keyword}">전체상품</span>
        <a th:if="${manufacturer} or ${category} or ${productPageRequest.keyword}"
           th:href="@{/product/list}">전체상품</a>
    </li>
    <li th:if="${manufacturer}">
        <span th:unless="${category}" th:text="${manufacturer.name}">(제조사)</span>
        <a th:if="${category}"
           th:href="@{${urlBuilder.replaceQueryParam('manufacturer', manufacturer.id).toUriString()}}"
           th:text="${manufacturer.name}">(제조사)</a>
    </li>
    <li th:if="${category}" th:text="${category.name}">(분류)</li>
    <li th:if="${productPageRequest.keyword}">검색결과</li>
</ul>
<!--/* End of Breadcrumb */-->
<!--/* Content */-->
<div layout:fragment="content">
    <div class="product_list_top">
        <hr>
        <p><label th:for="sort_method">정렬방식 : </label>
            <select th:field=*{productPageRequest.sort_method}>
                <option th:each="method,status : ${sort_method}"
                        th:value="${status.index}"
                        th:label="${method.name}"
                        th:text="${method.link}">(정렬 방식)
                </option>
            </select>
        </p>
    </div>
    <div class="product_list_body">
        <div th:each="product : ${products}"
             th:with="urlBuilder=${T(org.springframework.web.util.UriComponentsBuilder).fromPath('/product/detail/{id}')
                .queryParamIfPresent('manufacturer', param.manufacturer)
                .queryParamIfPresent('category', param.category)
                .queryParamIfPresent('keyword',
                    (__${#fields.hasErrors('productPageRequest.keyword')}__ ? T(java.util.Optional).empty() : param.keyword))}">
            <a th:href="@{${urlBuilder.build(product.id)}}">
                <img th:unless="${product.imageLink}" th:src="@{/images/magnifying-glass-solid.svg}" title="not found" alt="not found" style="width:120px">
                <img th:if="${product.imageLink}" th:src="${product.imageLink}" th:title="${product.name}" th:alt="${product.name}" style="width:120px">
                <p><b th:text="${product.name}">(상품이름)</b> | <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">(상품가격)</span> 원</p>
            </a>
        </div>
    </div>
    <div class="product_list_bottom">
        <hr>
        <a th:href="${pagination.first.link}" th:text="${pagination.first.name}">First</a>
        <a th:href="${pagination.previous.link}" th:text="${pagination.previous.name}">Previous</a>
        <span th:each="page : ${pagination.page}">
            <a th:href="${page.link}" th:text="${page.name}">(Page Number)</a>
        </span>
        <a th:href="${pagination.next.link}" th:text="${pagination.next.name}">Next</a>
        <a th:href="${pagination.last.link}" th:text="${pagination.last.name}">Last</a>
    </div>

    <script>
        document.getElementById("sort_method")
            .addEventListener("change", function () {
                location.href = this[this.selectedIndex].text;
        });
    </script>
</div>
<!--/* End of Content */-->
</body>
</html>