<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>비밀번호 변경</title>
</head>
<body>
<!--/* Breadcrumb */-->
<ul layout:fragment="breadcrumb">
    <li><a th:href="@{/}">홈</a></li>
    <li><a th:href="@{/member/}">내 정보</a></li>
    <li>비밀번호 변경</li>
</ul>
<!--/* End of Breadcrumb */-->
<!--/* Content */-->
<div layout:fragment="content">
    <hr>
    <form th:action="@{''}" th:object="${passwordRequest}" method="post">
        <p>
            <label th:for="oldPassword">현재 비밀번호</label><br>
            <input type="password" th:field="*{oldPassword}" autofocus />
            <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="red">Incorrect Data</span>
        </p>
        <p>
            <label th:for="newPassword">신규 비밀번호</label><br>
            <input type="password" th:field="*{newPassword}" />
            <span th:utext="#{account.rules.password}" class="hint">(비밀번호 규칙)</span><br>
            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="red">Incorrect Data</span>
            <br th:if="${#fields.hasErrors('newPassword')}">
            <input type="password" th:field="*{passwordVerify}" />
            <span th:utext="#{account.password-verify}" class="hint">(비밀번호 확인)</span>
            <br>
            <span th:if="${#fields.hasErrors('passwordVerify')}" th:errors="*{passwordVerify}" class="red">Incorrect Data</span>
        </p>
        <input type="submit" value="변경" />
    </form>
</div>
<!--/* End of Content */-->
</body>
</html>