<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{homepage.name}">Homepage Name</title>
    <link rel="stylesheet" th:href="@{/css/simple.css}" />
    <script th:src="@{/js/simple.js}" charset="UTF-8"></script>
    <script src="https://kit.fontawesome.com/067a704a26.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div>
        <p sec:authorize="isAuthenticated()">
            <a th:href="@{/member/}">
                <i class="fa-regular fa-user"></i>
                <b sec:authentication="principal.account.name">(Login user name)</b> 님</a>
            |
            <a th:href="@{/logout}">로그아웃</a>
        </p>
        <p sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">로그인</a> |
            <a th:href="@{/member/join/}">회원가입</a> |
            <a th:href="@{/cart}">장바구니</a>
        </p>
    </div>
    <form th:action="@{/product/search}" th:object="${productPageRequest}">
        <label th:for="keyword">상품찾기 : </label>
        <input type="text" th:field="*{keyword}" th:autofocus="${#fields.hasErrors('keyword')}" />
        <input type="submit" value="검색" />
        <span th:if="${#fields.hasErrors('keyword')}"
              th:errors="*{keyword}" class="red">Incorrect Data</span>
    </form>
    <nav>
        <hr>
        <labe>제조사</labe>
        <!--/* [Thymeleaf: add parameter to current url](https://stackoverflow.com/questions/27623405) */-->
        <ul th:with="urlBuilder=${T(org.springframework.web.util.UriComponentsBuilder).fromPath('/product/list')}">
            <li><a th:href="@{/product/list}">전체</a></li>
            <li th:each="ma : ${manufacturers}">
                <a th:href="@{${urlBuilder.replaceQueryParam('manufacturer', ma.id).toUriString()}}"
                   th:text="${ma.name}">(제조사 이름)</a>
            </li>
        </ul>
        <labe>분류</labe>
        <ul th:with="urlBuilder=${T(org.springframework.web.util.UriComponentsBuilder).fromPath('/product/list')
                .queryParamIfPresent('manufacturer', param.manufacturer)}">
            <li><a th:href="@{${urlBuilder.toUriString()}}">전체</a></li>
            <li th:each="ca : ${categories}">
                <a th:href="@{${urlBuilder.replaceQueryParam('category', ca.id).toUriString()}}"
                   th:text="${ca.name}">(분류 이름)</a>
            </li>
        </ul>
        <hr>
        <ul layout:fragment="breadcrumb" class="crumbs">
            <li><a th:href="@{/}">홈</a></li>
            <!--/* Breadcrumb */-->
        </ul>
    </nav>
</header>
<div class="main-container" layout:fragment="content">
    <!--/* Main Container */-->
</div>
<footer>
    <hr>
    <p><strong>Do Simple</strong></p>
    <p>Contact : <a href="mailto:makeappsgreat@gmail.com">makeappsgreat@gmail.com</a></p>
</footer>
<script th:if="${#fields.hasErrors('productPageRequest.keyword')}">
    cursorToEnd(document.getElementById("keyword"));
</script>
</body>
</html>