<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Do Simple</title>
    <link rel="stylesheet" th:href="@{/css/simple.css}"/>
</head>
<body>
<!--/* [Thymeleaf: add parameter to current url](https://stackoverflow.com/questions/27623405) */-->
<header>
    <form th:action="@{/product/list}">
        <label>상품찾기 : </label>
        <input type="text" th:field="*{productPageRequest.keyword}" />
        <input type="submit" value="검색"/>
        <span th:if="${#fields.hasErrors('productPageRequest.keyword')}"
              th:errors="*{productPageRequest.keyword}" style="color:red">Incorrect Data</span>
    </form>
    <nav>
        <hr>
        <labe>제조사</labe>
        <ul th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequestUri()}">
            <li><a th:href="@{/product/list}">전체</a></li>
            <li th:each="ma : ${manufacturers}">
                <a th:href="@{${urlBuilder.replaceQueryParam('manufacturer', ma.id).toUriString()}}"
                   th:text="${ma.name}">(제조사 이름)</a>
            </li>
        </ul>
        <labe>분류</labe>
        <ul th:with="urlBuilder=( ${manufacturer}
            ? ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)
                .fromCurrentRequestUri().replaceQueryParam('manufacturer', manufacturer.id)}
            : ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequestUri()} )">
            <li><a th:href="@{${urlBuilder.toUriString()}}">전체</a></li>
            <li th:each="ca : ${categories}">
                <a th:href="@{${urlBuilder.replaceQueryParam('category', ca.id).toUriString()}}"
                   th:text="${ca.name}">(분류 이름)</a>
            </li>
        </ul>
        <hr>
        <ul layout:fragment="breadcrumb" class="crumbs">
            <li><a th:href="@{/}">홈</a></li>
            <!--/* Breadcrumb */-->
        </ul>
    </nav>
</header>
<div class="main-container" layout:fragment="content">
    <!--/* Main Container */-->
</div>
<footer>
    <hr>
    <p><strong>Do Simple</strong></p>
    <p><label>Contact : </label><a href="mailto:makeappsgreat@gmail.com">makeappsgreat@gmail.com</a></p>
</footer>
</body>
</html>