<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>장바구니</title>
</head>
<body>
<!--/* Breadcrumb */-->
<ul layout:fragment="breadcrumb">
    <li><a th:href="@{/}">홈</a></li>
    <li>장바구니</li>
</ul>
<!--/* End of Breadcrumb */-->
<!--/* Content */-->
<div layout:fragment="content">
    <hr>
    <form>
        <table>
            <thead><tr class="b-lightgray"><th>선택</th><th>상품명/옵션</th><th>제품가격</th><th>수량</th><th>주문금액</th><th></th></tr></thead>
            <tbody>
                <th:block th:each="item,iterStat : ${cart}">
                <tr th:class="${iterStat.even} ? 'b-lightgray'">
                    <td th:rowspan="${item.options} ? ${#lists.size(item.options) + 1}"><input type="checkbox" /></td>
                    <td>
                        <a th:href="@{${item.link}}">
                            <img th:unless="${item.product.imageLink}" th:src="@{/images/magnifying-glass-solid.svg}" title="not found" alt="not found" class="v-center border" style="height:80px">
                            <img th:if="${item.product.imageLink}" th:src="${item.product.imageLink}" th:title="${item.product.name}" th:alt="${item.product.name}" class="v-center border" style="height:80px">
                            [[${item.product.name}]]
                        </a>
                    </td>
                    <td class="right"><span th:text="${#numbers.formatInteger(item.product.price, 3, 'COMMA')}">(Price)</span> 원</td>
                    <td class="center">
                        <input type="number" th:value="${item.quantity}" class="center" style="width:40px" /><br>
                        <button>변경</button>
                    </td>
                    <td class="right"><span th:text="${#numbers.formatInteger(item.total, 3, 'COMMA')}">(Price)</span> 원</td>
                    <td th:rowspan="${item.options} ? ${#lists.size(item.options) + 1}"><button>X</button></td>
                </tr>
                <tr th:if="${item.options}" th:each="option : ${item.options}" th:class="${iterStat.even} ? 'b-lightgray'">
                    <td>
                        <a th:href="@{${option.link}}" class="tab">
                            <img th:unless="${option.product.imageLink}" th:src="@{/images/magnifying-glass-solid.svg}" title="not found" alt="not found" class="v-center border" style="height:80px">
                            <img th:if="${option.product.imageLink}" th:src="${option.product.imageLink}" th:title="${option.product.name}" th:alt="${option.product.name}" class="v-center border" style="height:80px">
                            [[${item.product.name}]]
                        </a>
                    </td>
                    <td class="right"><span th:text="${#numbers.formatInteger(option.product.price, 3, 'COMMA')}">(Price)</span> 원</td>
                    <td class="center">
                        <input type="number" th:value="${option.quantity}" class="center" style="width:40px" /><br>
                        <button>변경</button>
                    </td>
                    <td class="right"><span th:text="${#numbers.formatInteger(option.total, 3, 'COMMA')}">(Price)</span> 원</td>
                </tr>
                </th:block>
            </tbody>
        </table>
    </form>
</div>
<!--/* End of Content */-->
</body>
</html>