<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>회원가입</title>
</head>
<body>
<!--/* Breadcrumb */-->
<ul layout:fragment="breadcrumb">
    <li><a th:href="@{/}">홈</a></li>
    <li>회원가입</li>
</ul>
<!--/* End of Breadcrumb */-->
<!--/* Content */-->
<div layout:fragment="content">
    <hr>
    <form th:action="@{''}" th:object="${memberRequest}" method="post" onsubmit="return onSubmit()">
        <input type="hidden" th:field="*{username}" />
        <p>
            <label th:for="email">아이디</label>
            <span th:utext="#{account.rules.username}" class="hint">(아이디 규칙)</span><br>
            <input type="text" th:field="*{email}" />
            <button id="checkDupUsernameBtn" type="button">중복확인</button>
            <br>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="red hasErrors">Incorrect Data</span>
        </p>
        <p>
            <label th:for="password">비밀번호</label><br>
            <input type="password" th:field="*{password}" />
            <span th:utext="#{account.rules.password}" class="hint">(비밀번호 규칙)</span><br>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="red">Incorrect Data</span>
            <br th:if="${#fields.hasErrors('password')}">
            <input type="password" th:field="*{passwordVerify}" />
            <span th:utext="#{account.password-verify}" class="hint">(비밀번호 확인)</span>
            <br>
            <span th:if="${#fields.hasErrors('passwordVerify')}" th:errors="*{passwordVerify}" class="red">Incorrect Data</span>
        </p>
        <p>
            <label th:for="name">이름</label><br>
            <input type="text" th:field="*{name}" />
            <br>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="red">Incorrect Data</span>
        </p>
        <p>
            <label th:for="mobileNumber">연락처1</label><br>
            <input type="text" th:field="*{mobileNumber}" />
            <br>
            <span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" class="red">Incorrect Data</span>
        </p>
        <p>
            <label th:for="phoneNumber">연락처2</label><br>
            <input type="text" th:field="*{phoneNumber}" />
            <span th:utext="#{account.option}" class="hint">선택</span>
            <br>
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="red">Incorrect Data</span>
        </p>
        <p>
            기본 주소<br>
            <input type="text" th:field="*{address.zipcode}" />
            <label th:for="address.zipcode" class="hint">우편번호</label><br>
            <span th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" class="red">Incorrect Data</span>
            <br th:if="${#fields.hasErrors('address.zipcode')}">

            <input type="text" th:field="*{address.address}" />
            <label th:for="address.address" class="hint">도로명건물번호</label><br>
            <span th:if="${#fields.hasErrors('address.address')}" th:errors="*{address.address}" class="red">Incorrect Data</span>
            <br th:if="${#fields.hasErrors('address.address')}">

            <input type="text" th:field="*{address.address2}" />
            <label th:for="address.address2" class="hint">상세주소</label>
        </p>
        <input type="submit" value="회원가입" />
    </form>
    <script th:inline="javascript">
        let username = document.getElementById("email");
        let checkDupUsernameBtn = document.getElementById("checkDupUsernameBtn");
        let usernameChkResult = username.parentElement.querySelector(".hasErrors");
        if (usernameChkResult === null) {
            usernameChkResult = document.createElement("span");
            usernameChkResult.className = "hasErrors";
            username.parentElement.appendChild(usernameChkResult);
        }

        /** Input onchange event */
        username.addEventListener("change", (event) => {
            if (!usernameChkResult.classList.contains("hasErrors")) {
                usernameChkResult.className = "hasErrors";
                usernameChkResult.innerHTML = "";
            }
        });

        /** Input onkeydown event */
        username.addEventListener("keydown", (event) => {
            if (event.code === "Enter") checkDupUsernameBtn.click();
        });

        /** Button onclick event */
        checkDupUsernameBtn.addEventListener("click", (event) => {
            event.currentTarget.disabled = true;

            get([[@{/account/usable-username/}]] + username.value, (response) => {
                if (!response.result) {
                    usernameChkResult.className = "red hasErrors";
                    usernameChkResult.innerHTML = response.message;
                } else usernameChkResultIsGood();

                event.currentTarget.disabled = false;
            });
        });

        function onSubmit() {
            if (usernameChkResult.classList.contains("hasErrors")) {
                alert([[#{account.username.need-to-check-duplication}]]);
                username.focus();
                cursorToEnd(username);

                return false;
            }

            document.getElementById("username").value = username.value;
        }

        function usernameChkResultIsGood() {
            usernameChkResult.className = "blue";
            usernameChkResult.innerHTML = [[#{account.username.usable}]];
        }
    </script>
    <script th:if="${#fields.hasErrors('memberRequest.*') and not #fields.hasErrors('memberRequest.email')}">
        usernameChkResultIsGood();
    </script>
</div>
<!--/* End of Content */-->
</body>
</html>