<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>회원가입</title>
</head>
<body>
<!--/* Breadcrumb */-->
<ul layout:fragment="breadcrumb">
    <li><a th:href="@{/}">홈</a></li>
    <li>회원가입</li>
</ul>
<!--/* End of Breadcrumb */-->
<!--/* Content */-->
<div layout:fragment="content">
    <hr>
    <p>
        <input type="checkbox" id="agreeAll">
        <label for="agreeAll">전체 이용약관에 동의합니다</label>
    </p>
    <form th:action="@{''}" th:object="${agreementRequest}" method="post" id="agreement">
        <ul style="list-style:none">
            <li>
                <input type="checkbox" th:field="*{terms1}" />
                <label th:for="${#ids.prev('terms1')}"><b>Do Simple</b> 이용약관</label>
                <span th:if="${#fields.hasErrors('terms1')}"
                      th:errors="*{terms1}" class="red">Incorrect Data</span>
            </li>
            <li>
                <input type="checkbox" th:field="*{terms2}" />
                <label th:for="${#ids.prev('terms2')}">개인정보 수집 이용에 관한 동의</label>
                <span th:if="${#fields.hasErrors('terms2')}"
                      th:errors="*{terms2}" class="red">Incorrect Data</span>
            </li>
            <li>
                <input type="checkbox" th:field="*{terms3}" />
                <label th:for="${#ids.prev('terms3')}">개인정보 제3자 제공에 관한 동의</label>
                <span th:if="${#fields.hasErrors('terms3')}"
                      th:errors="*{terms3}" class="red">Incorrect Data</span>
            </li>
            <li>
                <input type="checkbox" th:field="*{marketing.acceptance}" />
                <label th:for="${#ids.prev('marketing.acceptance')}">마케팅 수신 동의(선택)</label>
            </li>
        </ul>
        <input type="submit" value="회원가입" />
        <span th:if="${#fields.hasErrors('${agreementRequest.*}')}" class="red">회원가입하기 위해 필수 이용약관의 동의가 필요합니다.</span>
    </form>
    <script>
        document.getElementById("agreeAll")
            .addEventListener("change", (event) => {
                for (const checkbox of document.getElementById("agreement").getElementsByTagName("input")) {
                    checkbox.checked = event.currentTarget.checked;
                }
            });
    </script>
</div>
<!--/* End of Content */-->
</body>
</html>